* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --bg-color: hsl(279, 22%, 23%);
    --color-green: hsl(166, 80%, 40%);
    --color-light-green: hsl(166, 60%, 90%);
}

body {
    font-family: 'Poppins', 'sans-serif';
}

.dark-mode {
    background-color: var(--bg-color) !important;
}

a {
    text-decoration: none;
    display: inline-block;
}

.model-button:hover {
    background-color: black;
    color: white;
}

.model-button.selected {
    background-color: black;
    color: white;
}

#custom-button {
    width: 100px;
    height: 45px;
    font-size: 17px;
    color: white;
    background-color: var(--color-green);
}

#custom-button:hover {
    background-color: black;
}

.word-counter {
    color: grey;
}

.row-container {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.word-counter-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}

/* Loading screen styles */
.loading-screen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); /* semi-transparent black background */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000; /* ensure it's above other elements */
}

.loading-container {
    text-align: center; /* Center the text */
    display: flex;
    flex-direction: column; /* Stack children vertically */
    align-items: center; /* Center children horizontally */
}


.loading-circle {
    border: 5px solid #f3f3f3; /* Light grey */
    border-top: 5px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.loading-text {
    color: white;
    margin-top: 10px;
}

